version: "3.9"

services: 
  restful-api:
    build: 
      context: .
      dockerfile: dev.Dockerfile
      args: 
        PORT: ${APP_PORT:-8081}
    container_name: spring_cont
    environment: 
      POSTGRES_DB: demo-db
      POSTGRES_USER: user_demo
      POSTGRES_PASSWORD: 1234
    volumes: 
      - image-backup-vol:/app/filestorage/images
    ports: 
      - "${APP_PORT:-8081}:${APP_PORT:-8081}"
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: postgres_cont 
    environment: 
      POSTGRES_USER: user_demo
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: demo-db
    volumes: 
      - postgres-data:/var/lib/postgresql/data

volumes: 
  image-backup-vol:
  postgres-data:
